.button {
  width: 100%;
  padding: 14px 18px;
  border: none;
  border-radius: var(--radius);
  background: var(--primary);
  color: white;
  font-size: 1rem;
  transition: .15s;
}

.button:hover {
  background: var(--primary-hover);
}

.button:active {
  transform: scale(.98);
}

.home-button {
  margin-top: 8px;
}