*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family:
        "Yu Gothic UI",
        "Yu Gothic",
        "Meiryo",
        sans-serif;
}

button,
input,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}

input,
button,
select,
textarea {
    outline: none;
}